@layer components {
  .btn {
    @apply text-center w-auto font-semibold rounded-full py-3 px-5 text-white bg-primary shadow-lg;
    &:hover {
      @apply bg-primary-900;
    }

    &.btn--active {
      @apply text-white bg-primary border-primary;
      &:hover {
        @apply bg-primary;
      }
    }
    &.btn--disabled,
    &[disabled='true'],
    &:disabled {
      @apply text-white cursor-not-allowed;
    }
  }
}
