@layer base {
  input,
  textarea {
    @apply rounded shadow border border-gray-100 p-2;
  }

  form {
    @apply max-w-xl m-auto;

    .grid {
      @apply grid-cols-1 items-stretch gap-4 md:grid-cols-2;
    }

    label {
      @apply font-bold;
    }

    input,
    textarea {
      @apply w-full mb-4;
    }

    button {
      @apply block m-auto text-center;
    }
  }
}
